{% extends "base.html" %} {% block content %}

<div class="container pt-5">
  <h1>Employee list</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">designation</th>
        <th scope="col">phone number</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
      <tr>
        <th>{{ employee.id }}</th>
        <td>
          <!-- <a href="{{ employee.get_absolute_url }}"> -->
          <a href="{% url 'employee-detail' id=employee.id %}">
            {{ employee.first_name }}
          </a>
        </td>
        <td>{{ employee.designation }}</td>
        <td>{{ employee.phone_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br />
</div>

{% endblock %}
